{{ weather_data.local_datetime }} 
Погода в городе {{ weather_data.city }} 
Температура: {{ weather_data.current_temp }}°C {{ weather_data.weather_description }} 
Влажность: {{ weather_data.humidity }}% 
Давление: {{ weather_data.pressure }} мм.рт.ст 
Ветер: {{ weather_data.wind }} м/с 
Восход солнца: {{ weather_data.sunrise_datetime }} 
Закат солнца: {{ weather_data.sunset_datetime }} 
Хорошего дня! 